*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    width:60px;
    padding: 5px;
}

.title{
    font-family: 'Raleway';
    font-style: 'Regular 400';
    font-size:20pt;
    color: #105A36;
}
.title2{
    font-family: 'Raleway';
    font-style: 'Ligth 300';
    font-size:25pt;
    color: white;
}
.text{
    font-family: 'Raleway';
    font-style: 'Thin 100 italic';
    color: white;
    margin-top:20px;
}
.btn{
    border-radius:3px;
    height:30px;
    width: 100px;
    border: 1px solid white;
    font-family: 'Raleway';
    font-style: 'Thin 100';
    background: #1e6f5c;
    color:white;
    margin-top:20px;
}
.btn:hover{
    background: gray;
    color: black;
}

.main-content{
    display: flex;
    flex-flow: nowrap;
    flex-direction:column;
    background: #1c1427;
}
.header{
   background: #58C18E;
   display: flex;
   flex-flow: row nowrap;
   height: 10vh;
   align-items: center;
}
    .name{
        background: transparent;
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
    }
        .name-text{
            width:60%;
        }
.main-container{
    background:#1e6f5c;
    height:80vh;
    display: flex;
    align-items:center;
    justify-content:center;
    background-image: url(/img/fondo.jpeg);
    background-size: cover;
    background-blend-mode:hard-light;
}
    .principal-text{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items:center;
        background: rgba(4, 150, 82,0.6);
        border-radius:10px;
        height: 30%;
        width:80%;
        padding:15px;
    }
.footer{
    background: #40394a;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
    .rights-text{
        color:white;
        font-family: 'Raleway';
        font-style: 'Thin 100 italic';
        color: white;
        font-size: 10pt;
    }
